/* Basic CSS resets -- leveling slight inconsistencies in browsers */
html, body {
	margin:10px;
	padding:10px;
	height:100%;
}

html {
		/* Standard text-settings below */
	font-size: 1em;
    line-height: 1.4em;
}




body {
	
font-family: Century Gothic, sans-serif;
  background: rgb(255, 250, 237);
  color: rgb(0, 0, 0);
  margin: 8px;
	
}


#container {
	border: 1px solid rgb(77, 86, 102);
  	background: rgb(193, 208, 227);
  	width: 90%;      
  	max-width: 1600px; 
  	margin: auto;
    	padding-left: 20px;
	padding-right: 20px;
}

ul {
  list-style: none;
  padding-left: 0px;
}

a {
  color: rgb(255, 164, 74);
}

a:hover {
  color: rgb(33, 118, 255);
}

figure {
  margin: 0px;
}

figure img {
  width: 100%;
}

figcaption, footer {
  font-size: 0.75em;
}
