/* Basic CSS resets -- leveling slight inconsistencies in browsers */
html, body {
	margin:0px;
	padding:0px;
	height:100%;
}

html {
		/* Standard text-settings below */
	font-size: 1em;
    line-height: 1.4em;
}




body {
	
	  font-family: Avant Garde, sans-serif;
  background: rgb(255, 250, 237);
  color: rgb(0, 0, 0);
  margin: 8px;
	
}


#container {
	border: 1px solid rgb(77, 86, 102);
  	background: rgb(121, 133, 153);
  	width: 90%;      
  	max-width: 800px; 
  	margin: auto;
}

ul {
  list-style: none;
  padding-left: 0px;
}
