/* Basic CSS resets -- leveling slight inconsistencies in browsers */
html, body {
	margin:0px;
	padding:0px;
	height:100%;
}

html {
		/* Standard text-settings below */
	font-size: 1em;
    line-height: 1.4em;
}



/* Mobile First CSS: we'll design for phone sizes first, then add media queries for larger screens later */

body {
	
	
}


#container {
	
}

#research-section1{   /*first section*/
  background: #375534;
  text-align:center;
  padding: 15px;
}


#research-section2{   /*2nd section*/
  background: #6B9071;
  text-align:center;
  padding: 15px;
  margin:auto;
}


.article{
	margin: 0px auto; /* Add space between sections */
	max-width:300px;
}

.article-details{
	padding:1em;
	
}

.article a{
	text-decoration:none;
	color:inherit;
	display:block;
}

.article-title, .article-title2{
	font-size: 24px;
	color:000;
	font-family:"Passion One", sans-serif;
}

.article-title:hover{
	color:#AAEECC;
}

.article-title2:hover{
	color:#AAEECC;
}

.banner{
	width:100%;
	max-width:900px;
    display:flex;
    justify-content: center;
	align-items: center;
}

.footer-articles{
	left: 0;
	bottom:0;
}

.featured-article a{
	text-decoration:none;
	text-align: center;
}


/* ========================================
MEDIA QUERIES!
You can adjust the min-width numbers below, and add as many new media queries as you need.
======================================== */



/* Minimum width for laptops. */
@media all and (min-width: 769px) {
	
    
    #research-section1{
        width:800px;
        padding: 20px 20px;
        margin: 20px auto; /* Add space between sections */
        text-align: left;
    }
     
    .research-intro{
        text-align: left;
        align-content: center;
    }
    
    
    .banner{
        width:100%;
        max-width:1000px;
    }
    
    #research-section2{
        width:800px;
        padding:20px 20px;
        margin: 20px auto; /* Add space between sections */
        text-align: left;
		justify-content:space-evenly;
		gap:20px;
    }
    
	 .more-research{
		padding: 20px;
		margin: 30px auto; /* Add space between sections */
		display:flex;
        text-align: center;
  }
	.article {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		
  }

  .article-details{
		flex: 1 1 250px;
		max-width: 200px;
	  	display:flex;
  }
	
	.article-title2{
		font-size:24px;
		text-align:center;
		width:200px;
		margin: auto;
		font-weight:bold;
		font-family: "Passion One", sans-serif;
	}
	
} /* closes 769px+ */




/* Minimum width for desktop screens. */
@media all and (min-width: 1024px) {
	
	#research-section1{
		width: 1300px;
	}
	
	#research-section2{
		width: 1300px;
		justify-content:space-between;
		gap:20px;
	}
	
	.banner{
		width:100%;
		max-width:1500px;
		display:flex;
		justify-content: center;
		align-items: center;
	}
	
	.article-title{
		font-size:26px;
		font-weight: bold;
		justify-content:space-between;
		
	}
	
	.article{
		width:400px;
		flex:wrap;
	}
	
	
} /* closes 1024px+ */



