/* Basic CSS resets -- leveling slight inconsistencies in browsers */
html, body {
	margin:0px;
	padding:0px;
	height:100%;
}

html {
		/* Standard text-settings below */
	font-size: 1em;
    line-height: 1.4em;
}

/*-----------------------fonts----------------------*/
.passion-one-regular {
  font-family: "Passion One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.passion-one-bold {
  font-family: "Passion One", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.passion-one-black {
  font-family: "Passion One", sans-serif;
  font-weight: 900;
  font-style: normal;
}



.noto-sans-<uniquifier> {
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* Mobile First CSS: we'll design for phone sizes first, then add media queries for larger screens later */

body {
  margin: 0;
  background-color: #E3EED4;
  font-family: "Noto Sans", sans-serif;
}
#container {
  

}

/*---------Text Styling----------*/
h1, h2{
  font-family:"Passion One", sans-serif;
  letter-spacing: 3px;
  text-decoration:none;
}

.addh2{
  padding:.5em;
}

.headerL{
  color:#AAEECC;
}

.textL{
  color: #E3EED4;
}

.cardtxt{
  color: #E2F5CF;
}

.research-title{
  font-size:26px;
}

/*--------------------Research Text---------------------*/
  .dblspc{
  line-height:2;
  }



/*============Nav bar styling=============*/
nav {
  background-color: #0F2A1D;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  text-decoration: none;
}

.logo-title {
  display: flex;
  align-items: center;
  text-decoration:none;
}

.logo {
  height: 100px;
  margin-right: 10px;
  text-decoration:none;
  
}

.logo-title h1 {
  text-decoration: none;
  color: white; /* ensure color is what you want */
}


.menu-toggle {
  font-size: 2rem;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

#nav-links {
  display: none;
  flex-direction: column;
  width: 100%;
  background-color: #0F2A1D;
  margin-top: 10px;
}

#nav-links.nav-open {
  display: flex;
}

#nav-links li {
  list-style: none;
  padding: 10px;
  text-align: center;
}

#nav-links li a {
  color: #fff;
  text-decoration: none;
  font-size:1.1rem;
}

#nav-links li a:hover{
  color: #AAEECC;
}

/*===============btn customization==============*/

.btn {
	padding: 1em 0;
	outline: none;
}

button {
	background-color: #0f2a1d;
	color: #e2f5cf;
	padding: 10px 20px;
	border-radius: 1em;
	cursor: pointer;
	border: none;
}

button:hover {
	background-color: #aaeecc;
	color: #0f2a1d;
	transform: scale(1.1);
}


/*========front page=======*/
#welcome-section{   /*first section*/
  background: #375534;
  text-align:center;
  padding: 1.2em;
  color: #E2F5CF;
  margin: auto;
}


#mission-section{ /*second section*/
  background:#6B9071;
  text-align:center;
  padding:1.5em;
}

#memorial-section{ /*third section*/
  background: #375534;
  text-align:center;
  padding:1.5em;
  color: #E2F5CF;
}

figcaption{
  color:#000;
  font-size:10px;
}

/*--------------------------footer bar styling------------------------- */
footer {
  position:static;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: #0F2A1D;
  color: white;
  text-align: center;
  line-height: 60px; /* Vertically center text */
  z-index: 100;
}

.member{
  max-height:150px;
  max-width:150px;
}

.full-title {
  display: none;
}

.short-title {
  display: inline;
}



.banner{
  cursor:pointer;
}

#imgcontainer {
  max-width: 100%;
  overflow: hidden;
}

.articleimg img {
  width: 100%;
  height: auto;
  display: block;
  max-width: 100%;
}


/* ========================================
MEDIA QUERIES!
You can adjust the min-width numbers below, and add as many new media queries as you need.
======================================== */



/* Minimum width for laptops. */
@media all and (min-width: 769px) {
  

  #nav-links {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 0;
  }

  .menu-toggle {
    display: none;
  }

  #nav-links li {
    padding: 0 15px;
  }
  
  #nav-links li a {
    font-size: 26px;
  }

  section {
    text-align: left;
    padding: 40px;
  }
  
    #welcome-section, #mission-section, #memorial-section {
    width: 800px;
    padding: 20px;
    margin: 20px auto; /* Add space between sections */
    text-align: left;
    align-content: center;
  }

  .homeimg{
    float:inline-end;
    margin: 0 0 20px 20px;
    
  }
  

} /* closes 769px+ */




/* Minimum width for desktop screens. */
@media all and (min-width: 1024px) {
  
    .full-title {
    display: inline;
  }

  .short-title {
    display: none;
  }
  
  .logo-title {
    top:62px;
    position:relative;
}


  #nav-links{
    display:flex;
  }
 
  #nav-links li {
    list-style: none;
    padding: 10px;
    text-align: center;
}
  
    #nav-links li a {
    font-size: 26px;
  }
  
  
  #welcome-section, #mission-section, #memorial-section {
    padding: 20px;
    margin: 20px auto; /* Add space between sections */
    width: 1500px;
    text-align: left;
    align-content: center;
  }



  #mission-section {
    text-align:center;
  }

  #memorial-section {
    max-width: 1000px;
  }
  
  .researchtxt{
    text-align:left;
    text-indent:20px;
  }
  

}  /* closes 1024px+ */



