/* Basic CSS resets -- leveling slight inconsistencies in browsers */
html, body {
	margin:0px;
	padding:0px;
	height:100%;
}

html {
		/* Standard text-settings below */
	font-size: 1em;
    line-height: 1.4em;
}



/* Mobile First CSS: we'll design for phone sizes first, then add media queries for larger screens later */

body {
	
	
}


#container {
	
}


#supportbanner{
	background: #375534;
	padding:20px;
	text-align:center;
}

#products{
	text-align:left;
	padding: 20px;
	background: #E2F5CF;
}

	ul {
		text-align:left;
		list-style-type: none;
		text-decoration: none;
	}





/* ========================================
MEDIA QUERIES!
You can adjust the min-width numbers below, and add as many new media queries as you need.
======================================== */



/* Minimum width for laptops. */
@media all and (min-width: 769px) {
	
	#products{
		width:800px;
		text-align:center;
		background:#6B9071;
		margin: auto;
		padding:20px;
		height:70vh;
	}
	
	ul{
		text-align:center;
		text-decoration:none;
	}
	
	
	
	
} /* closes 769px+ */




/* Minimum width for desktop screens. */
@media all and (min-width: 1024px) {
	
	#prodcuts{
		width:1400px;
	}
	
	
	
} /* closes 1024px+ */



